* {
    margin:0px;
    padding:0px;
}

body, html {
    height: 100%;
  }

.roboto-regular{
    font-family: 'Roboto', sans-serif;
}

.btn-grey{  
    background-color:#615D5D;border:0px;padding:0.5vw 1vw;border-radius:2vw;color:#FFFFFF;
}
.btn-green{  
    background-color:#92D050;border:0.2vw solid #3A8D1C;padding:0.5vw 1vw;border-radius:1.2vw;color:#FFFFFF;padding:0.5vw 2vw;
}
.btn-red{  
    background-color:#FF0101;border:0.2vw solid #3A8D1C;padding:0.5vw 1vw;border-radius:1.2vw;color:#FFFFFF;padding:0.5vw 2vw;
}


.btn-grey:hover{
    color:white;
}

.sidebar-item:hover{
    font-weight:bold
}

/*POP UP*/


/* START OF CUSTOM INPUT FILE*/
input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color:#615D5D;
    border:0px;
    padding:0.5vw 1vw;
    border-radius:2vw;
    color:#FFFFFF;
    cursor: pointer;
}

/* END OF CUSTOM INPUT TYPE FILE */

.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    margin-top: -30%;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup-change-pass {
    margin: 40vw auto;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    width:40% ;
  
  }
  .popup-change-pass .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #2B6CAA;
  
  }
  
  .popup {
    margin: 40vw auto;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    transition: all 1s ease-in-out;
    width:80% ;
  
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0.2s;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #92D050;
  }
  .popup .close:hover {
    color: #252525;
  }
  
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
/*END OF POP UP*/



/* Small devices (phones, 767 and below)*/
@media only screen and (max-width: 767px) { 
    .desktop-display{
        display: none !important;
    }
       /* 1px = 0.07vw */
    .px-144{
        font-size: 3.25rem;
        line-height: 3.25rem;
    }

    .px-96{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .px-72{
        font-size: 2rem;
        line-height: 2rem;
    }

    .px-64{
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .px-48{
        font-size: 1.5rem;
        line-height: 1.5rem;

    }

    .px-36{
        font-size: 1.25rem;
        line-height: 1.25rem;

    }

    .px-24{
        font-size: 1rem;
    }

    .px-18{
        font-size: 0.75rem;
        line-height: 1rem;

    }

    .page-container{
        padding-left:1rem;
        padding-right:1rem
    }

}
@media (min-width: 768px) and (orientation:portrait) {
    .desktop-display{
        display: none !important;
    }
    /* 1px = 0.07vw */
    .px-144{
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .px-96{
        font-size: 3rem;
        line-height: 3rem;
    }

    .px-72{
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .px-64{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .px-48{
        font-size: 1.75rem;
        line-height: 2rem;

    }

    .px-36{
        font-size: 1.25rem;
        line-height: 1.25rem;

    }

    .px-24{
        font-size: 1rem !important;
    }

    .px-18{
        font-size: 0.85rem !important;
        line-height: 1.2rem !important;
    }
    
}




/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /* 1px = 0.07vw */
    .px-144{
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .px-96{
        font-size: 3rem;
        line-height: 3rem;
    }

    .px-72{
        font-size: 2.75rem;
        line-height: 2.75rem;
    }

    .px-64{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .px-48{
        font-size: 1.75rem;
        line-height: 2rem;

    }

    .px-36{
        font-size: 1.25rem;
        line-height: 1.25rem;

    }

    .px-24{
        font-size: 0.8rem;
    }

    .px-18{
        font-size: 0.65rem;
        line-height: 1rem;

    }

    .page-container{
        padding-left:3rem;
        padding-right:3rem
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /* 1px = 0.07vw */
    .px-144{
        font-size: 6rem;
        line-height: 7rem;
    }

    .px-96{
        font-size: 6rem;
        line-height: 6rem;
    }

    .px-72{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .px-64{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .px-48{
        font-size: 2.5rem;
        line-height: 3rem;

    }

    .px-36{
        font-size: 1.5rem;
        line-height: 1.75rem;

    }

    .px-24{
        font-size: 1.25rem;
    }

    .px-18{
        font-size: 0.85rem;
        line-height: 1rem;

    }

    .page-container{
        padding-left:5rem;
        padding-right:5rem
    }
 
}
